<div id="page">
  <br>
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group" style="margin: auto;">
      <input type="text"
              placeholder="Intervalo de datas"
              class="form-control"
              bsDaterangepicker>
    </div>
  </div>
  <br>
  <table>
    <thead>
      <tr>
        <th class="hour"></th>
        <th class="monday">Segunda-feira</th>
        <th class="tuesday">Terça-feira</th>
        <th class="wednesday">Quarta-feira</th>
        <th class="thursday">Quinta-feira</th>
        <th class="friday">Sexta-feira</th>
        <th class="saturday">Sabado</th>
        <th class="sunday">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="hour">00:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">01:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">02:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">03:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">04:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">05:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">06:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">07:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">08:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">09:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">10:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">11:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">12:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">13:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">14:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">15:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">16:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">17:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">18:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">19:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">20:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">21:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">22:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
      <tr>
        <td class="hour">23:00</td>
        <td class="monday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="tuesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="wednesday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="thursday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="friday" onclick="this.style.backgroundColor = 'rgb(99, 185, 149)';"></td>
        <td class="saturday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
        <td class="sunday" onclick="this.style.backgroundColor = 'rgb(249, 110, 70)';"></td>
      </tr>
  </tbody>
  </table>
  <br>  
  <button type="button" (click)="saveTimetable()">Gravar</button>
</div>